@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif; /* Include quotes and a fallback font */
}
html {
  font-size: 16px;
  @screen sm {
    font-size: 14px;
  }
  @screen md {
    font-size: 16px;
  }
  @screen lg {
    font-size: 18px;
  }

  @screen xl {
    font-size: 20px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccd6dd;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #66757f;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.expense-list-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.expense-list-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rotate_bar {
  display: inline-block; /* Ensures the container doesn't stretch */
  transform: rotate(-90deg); /* Rotates the container and its contents */
}
